* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-image: url(../img/menu/284-2840437_gunship-dark-all-day.jpg);
  /* background-size: 1500px 2300px; */
  background-size: cover;
}
#app {
  position: relative;
}
main {
  background-color: darkblue;
  display: flex;
  justify-content: space-around;
  margin-top: -10px;
  position: fixed;
  top:0px;
  z-index: 2;
  width: 100%;
  padding: 15px;
}
a {
  text-decoration: none;
}
#sale {
  margin: 0px 30px 30px 200px;
  width: 50px;
  background-color: orangered;
  position: absolute;
  z-index: 1;
}
.footer {
  text-align: center;
  color: white;
}
.thanhchon {
  border: purple solid 1px;
  border-radius: 10px;
  color: White;
  text-decoration: none;
  background-color: rgb(61, 9, 61);
  padding: 10px;
}
.thanhchon:hover {
  background-color: yellowgreen;
}
